# Combine Rajshahi Dataset

In [17]:
# data analysis and wrangling
import pandas as pd
import numpy as np

In [18]:
data1 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\RajshahiNew\Data-2018.csv")
data2 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\RajshahiNew\Data-2019.csv")
data3 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\RajshahiNew\Data-2020.csv")

In [19]:
frames = [data1,data2,data3]
data = pd.concat(frames)

In [20]:
data.head()

,D,T,TM,Tm,SLP,H,VV,V,VM,AQI,Category
0,Jan-01,18.4,24.50,14.00,1011.80,81.00,5.60,3.30,5.40,285.0,VU
1,2,14.2,18.40,11.40,1012.10,88.00,4.30,5.00,7.60,285.0,VU
2,3,14.8,23.60,10.60,1012.80,71.00,5.00,4.10,7.60,391.0,EU
3,4,14.9,22.29,9.65,1013.11,80.82,4.94,2.74,5.85,261.0,VU
4,5,14.9,22.29,9.65,1013.11,80.82,4.94,2.74,5.85,219.0,VU

In [21]:
data.isnull().sum()

D           0
T           0
TM          0
Tm          0
SLP         0
H           0
VV          0
V           0
VM          0
AQI         0
Category    0
dtype: int64

In [22]:
data.to_csv(r'F:\CLASS\CSE498R(Directed Research)\Dataset\RajshahiNew\CombineRajshahiDataset.csv', index=False)