# Combine Dhaka Dataset

In [6]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [7]:
data1 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\DhakaNew\Data-2016.csv")
data2 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\DhakaNew\Data-2017.csv")
data3 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\DhakaNew\Data-2018.csv")
data4 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\DhakaNew\Data-2019.csv")
data5 = pd.read_csv("F:\CLASS\CSE498R(Directed Research)\Dataset\DhakaNew\Data-2020.csv")

In [8]:
frames = [data1,data2,data3,data4,data5]
data = pd.concat(frames)

In [9]:
data.head()

,D,T,TM,Tm,SLP,H,VV,V,VM,AQI,Category
0,Jan-01,21.10,27.60,14.80,1018.80,66.00,1.80,0.60,3.50,388.0,EU
1,2,21.50,27.00,14.20,1018.00,64.00,2.60,2.40,9.40,312.0,EU
2,3,20.90,25.80,14.80,1016.50,63.00,2.60,2.20,9.40,305.0,EU
3,4,19.94,24.91,14.77,1015.23,65.27,1.94,1.91,6.12,307.0,EU
4,5,19.94,24.91,14.77,1015.23,65.27,1.94,1.91,6.12,294.0,VU

In [10]:
data.isnull().sum()

D           0
T           0
TM          0
Tm          0
SLP         0
H           0
VV          0
V           0
VM          0
AQI         0
Category    0
dtype: int64

In [11]:
data.to_csv(r'F:\CLASS\CSE498R(Directed Research)\Dataset\DhakaNew\CombineDhakaDataset.csv', index=False)