# Combine Khulna Dataset

In [11]:
# data analysis and wrangling
import pandas as pd
import numpy as np

In [12]:
data1 = pd.read_csv("G:\\KHULNA DATA CSV\\New Data\\Data-2018.csv")
data2 = pd.read_csv("G:\\KHULNA DATA CSV\\New Data\\Data-2019.csv")
data3 = pd.read_csv("G:\\KHULNA DATA CSV\\New Data\\Data-2020.csv")

In [13]:
frames = [data1,data2,data3]
data = pd.concat(frames)

In [14]:
data.head()

       D      T    TM     Tm      SLP      H    VV     V    VM    AQI Category
0  1-Jan  21.00  25.5  18.00  1010.90  77.00  5.10  0.00  4.13  346.0       EU
1      2  18.60  22.5  16.00  1011.70  85.00  5.00  0.00  4.13   39.0        G
2      3  17.40  23.2  13.50  1012.70  72.00  4.80  1.70  7.60  346.0       EU
3      4  17.54  24.0  12.54  1012.67  76.27  4.39  0.51  4.13  396.0       EU
4      5  17.54  24.0  12.54  1012.67  76.27  4.39  0.51  4.13  372.0       EU

In [15]:
data.isnull().sum()

D           0
T           0
TM          0
Tm          0
SLP         0
H           0
VV          0
V           0
VM          0
AQI         0
Category    0
dtype: int64

In [16]:
data.to_csv(r'G:\KHULNA DATA CSV\New Data\CombineKhulnaDataset.csv', index=False)